<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhisperVoiceKeyboard"
        tools:targetApi="31">

        <service android:name="com.example.whispervoicekeyboardf.VoiceKeyboardService"
            android:label="@string/whisper_voice_input_label"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true"
            tools:ignore="WrongManifestParent">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>

        <!-- Declares the input method service -->


    <!-- Optional: an activity for controlling the IME settings -->
    <!--    <activity android:name="WhisperVoiceIMESettings"-->
    <!--        android:label="@string/whisper_voice_input_settings"-->
    <!--        android:exported="true"-->
    <!--        tools:ignore="WrongManifestParent">-->
    <!--        <intent-filter>-->
    <!--            <action android:name="android.intent.action.MAIN"/>-->
    <!--        </intent-filter>-->
    <!--    </activity>-->


</manifest>
